<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cucumber Suite">
    <parameter name="cucumber.filter.tags" value="@bullsFooterLink" />
    <test name="Cucumber Test">
        <classes>
            <class name="com.veeva.application.runner.TestRunner"/>
        </classes>
    </test>
</suite>
